/*
	~Start Main Rolz~
*/
body{
	background-color: #F4F4F4;
	font-size:16px;
}
/*   ~Start Login Rolz~*/

.login{
	width : 300px;
	margin : 100px auto;
}

.login input {
	margin-bottom : 10px;
}

.login .form-control{
	background-color: #E5E5E5;
}

.login .btn{
	background-color:#008dde;
}

.astrisk{
	font-size: 30px;
	position: absolute;
	right: 35px;
	top: 8px;
	color: tomato;
}
/*   ~End Login Rolz~*/



/*   ~Start Bootstrab Rolz Editing~*/
.navbar {
	border-radius: 0;
	margin-bottom:0;
}

.nav>li>a,
.navbar-brand{
	padding: 15px 12px;
}

.navbar-brand{
	font-size:1em;
}
.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:focus,
.navbar-inverse .navbar-nav>.open>a:hover,
.dropdown-menu
{
	background-color: #3498db;
}

.dropdown-menu{
	min-width:180px;
	padding:0;
	font-size:1em;
	border : none;
	border-radius: 0;
}

.dropdown-menu>li>a{
	color: #FFF;
	padding: 10px 15px;
}

.form-control{
	position: relative;
}
/*   ~End   Bootstrab Rolz Editing ~*/

/* Start Dashboard*/

.home-stats .stat{
	padding : 10px;
	font-size: 15px;
	color:#FFF;
	border-radius:10px;
}

.home-stats .stat a{
	color:#FFF;
}
.home-stats .stat a:hover {
	text-decoration: none;
}

.home-stats .stat span{
	display: block;
	font-size:40px;
}


.home-stats .st-members{
	background-color: #27ae60;
}

.home-stats .st-pending{
 	background-color: #16a085;
}

.home-stats .st-items{
	background-color: #2980b9;
}

.home-stats .st-comments{
	background-color: #e74c3c;
}

.latest{
	margin-top:30px;
}

.latest-user{
	margin-bottom: 0;
}
.latest-user .btn-success{
	padding: 4px 8px;
}

.latest-user li {
	padding:8px ;
	overflow: hidden;
}

.latest-user li:nth-child(odd){
	background-color:#EEE;
}
/* End Dashboard*/

/*Start members page*/

h1 {
	font-size: 55px;
	margin:40px 0;
	font-weight:bold;
	color:#666;
}

.show-pass{
	position:absolute;
	top : 5px;
	right:-25px;
}
.main-table{
	-webkit-box-shadow:0 3px 10px #CCC;
	-moz-box-shadow:0 3px 10px #CCC;
	 box-shadow:0 3px 10px #CCC;
}

.main-table td {
	background-color:#FFF;
	vertical-align: middle !important ;
}

.main-table .btn{
	padding: 3px 10px ;
}
.main-table tr:first-child td{ /*We can use Thead instead*/
	background-color: #333;
	color:#FFF;
}

 /*End members page*/

/* Start Categories Page*/
.categories .panel-body{
	padding:0;
}
.categories .ordering a{
	color:#888;
	text-decoration : none;
}
.categories .ordering .active{
	color:red;
	font-weight: bold;
}
.categories hr {
	margin-top:5px;
	margin-bottom:5px;
}
.categories .cat{
	padding:15px;
	position: relative;
	overflow: hidden;
}
.categories .cat:hover{
	background-color:#EEE;
}
.categories .cat:hover .hidden-buttons{
	right:10px;
}
.categories .cat  .hidden-buttons {
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
	position: absolute;
	top:15px;
	right:-160px;
}
.categories .cat  .hidden-buttons a{
	margin-right :5px;
}

.categories .cat h3{
	margin : 0 0 10px;
}

.categories .cat:last-of-type ~ hr{
	display : none;
}

.categories .cat .visible {
	background-color: #e74c3c;
	margin-right:5px;
	padding : 5px 2px 3px 6px;
	border-radius: 5px;
	font-size: 18px;
}
.categories .cat .comment {
	background-color: #9b59b6;
	margin-right:5px;
	padding : 5px 2px 3px 6px;
	border-radius: 5px;
	font-size: 18px;
}
.categories .cat .ad {
	background-color: #f39c12;
	margin-right:5px;
	padding : 5px 6px 3px 6px;
	border-radius: 5px;
	font-size: 18px;
}
.add-category{
	margin-bottom: 30px;
	margin-top:-10px;
}
/* End Categories Page*/